body { font-family: consola, monospace; }
svg { background-color: #e0e0d0; }
h1, h2, h3 { margin: 0; }
input { font-family: inherit; font-size: inherit; margin-top: 5px; }
table { font-size: inherit; }

line, path, circle, ellipse { vector-effect: non-scaling-stroke; }



.shape { stroke: navy; fill: none; }
.shape.selected { storoke: navy; stroke-width: 3; }
.shape.fill { stroke: none; fill: #8282b9; }
.shape.selected.fill { fill: #4949ad; }

.point { stroke: none; fill: black; }
.point.selected { fill: orangered; }

.grid { stroke: white; stroke-dasharray: 2, 2;}

.svg-container { float: left; position: relative; } /* made relative for image-overlay div */

.display { padding-left: 10px; vertical-align: top; height: 100%; overflow: hidden; font-size: 70%;}
.display > *:not(:first-child) { margin-top: 1em; }
.display .filename { font-style: italic; }
.display .point { white-space: nowrap; display:inline-block; }
.display .point.selected { font-weight: bold; color: #ff5733; } 
.display .point:not(:last-child) { margin-right: 10px; }

.display .keyboard-mapping { margin-top: 0.5em; }
.display .keyboard-mapping .col-one { padding-right: 10px; }

.display .margin-top { margin-top: 0.5em; }

/* dialogs */
.dlg-overlay { 
    position: fixed; height: 100%; width: 100%; top: 0; left: 0; z-index: 100; 
    background-color: rgba(0, 0, 0, 0.8);
}

.dlg { 
    position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); 
    z-index: 101; background-color: white; padding: 1em; border-radius: 5px; 
}

.dlg h3 { margin-top: 0px; }
.dlg .editbox { min-width: 20em; } 
